// Define Variables
$primary-bg: #1c1c1e;
$text-color: white;
$gap: 2rem;

// Styles
.news {
  font-size: 2rem;
  color: $text-color;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: $gap;

  &-header {
    width: 100%;
    min-height: 7rem;
    background-color: $primary-bg;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
  }

  .logo {
    font-family: "Bebas Neue", sans-serif;
    font-size: 5rem;
    color: $text-color;
    letter-spacing: 0.2rem;
  }

  .search-bar {
    position: relative;

    input {
      width: 25rem;
      height: 4rem;
      background-color: #060706;
      border: none;
      border-radius: 5rem;
      padding: 0 4rem 0 2rem;
      color: #ddd;
      transition: width 0.3s;

      &:focus {
        width: 35rem;
      }

      &:focus::placeholder {
        color: transparent;
      }
    }

    button {
      background-color: transparent;
      border: none;
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      color: #bbb;
      font-size: 1.8rem;
      cursor: pointer;
    }
  }

  &-content {
    display: flex;
    column-gap: $gap;
    height: calc(100% - 16rem);
    padding: 0 $gap;

    .navbar {
      width: 18rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      row-gap: $gap;

      .user {
        width: 100%;
        height: 20%;
        background-color: $primary-bg;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1rem;
        cursor: pointer;

        img {
          width: 7rem;
          aspect-ratio: 1;
          object-fit: cover;
          border-radius: 50%;
        }

        p {
          font-family: 'Comfortaa', sans-serif;
          font-size: 1.5rem;
          color: #ddd;
        }
      }

      .categories {
        width: 100%;
        height: calc(80% - #{$gap});
        background-color: $primary-bg;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        padding: 2rem;

        .nav-heading {
          font-family: 'Bebas Neue', sans-serif;
          font-size: clamp(1.5rem, 2.5cqi, 3rem);
          color: #ddd;
          letter-spacing: 0.2rem;
          margin-bottom: 2rem;
        }

        .nav-links {
          display: flex;
          flex-direction: column;
          row-gap: 2rem;

          .nav-link {
            font-size: 1.5rem;
            font-weight: 300;
            color: #ddd;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            display: flex;
            align-items: center;

            i {
              font-size: 1.7rem;
              margin-left: 1rem;
            }
          }
        }
      }
    }

    .news-section {
      width: clamp(30rem, 43cqi, 40%);
      height: 100%;
      border-radius: 1rem;

      .headline {
        width: 100%;
        height: calc(50% - #{$gap});
        background-color: $primary-bg;
        border-radius: 1rem;
        margin-bottom: $gap;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 1rem;
          opacity: 0.4;
        }

        .heading-title {
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 1rem 4rem 1rem 1rem;
          font-family: 'Bebas Neue', sans-serif;
          font-size: clamp(1.5rem, 1.8cqi, 3rem);
          letter-spacing: 0.1rem;
          color: $text-color;
          background-color: rgba(0, 0, 0, 0.7);
          border-radius: 0 0 2rem 1rem;
        }

        .bookmark {
          position: absolute;
          bottom: 1rem;
          right: 1rem;
          cursor: pointer;
        }
      }

      .news-grid {
        width: 100%;
        height: 50%;
        background-color: $primary-bg;
        border-radius: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1rem;
        padding: 1.2rem;

        .news-grid-item {
          width: 100%;
          height: 100%;
          min-height: 15rem;
          border-radius: 1rem;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
            opacity: 0.5;
          }

          h3 {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 1rem 3rem 1rem 1rem;
            font-family: 'Bebas Neue', sans-serif;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 1.4rem;
            background-color: rgba(0, 0, 0, 0.7);
            width: 100%;
            border-radius: 0 0 1rem 1rem;
          }
        }
      }
    }

    .my-blog {
      width: clamp(20rem, 27cqi, 28%);
      height: 100%;
      background-color: $primary-bg;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      row-gap: 3rem;
      padding-bottom: 2rem;

      .my-blogs-heading {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 3rem;
        color: #ddd;
        letter-spacing: 0.1rem;
        padding: 2rem;
      }

      .blog-posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1.2rem;
        padding: 1.2rem;

        .blog-post {
          flex: 0 1 calc(50% - 0.6rem);
          border-radius: 1rem;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
            opacity: 0.5;
          }

          h3 {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 1rem;
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: 1.6rem;
            font-size: 1.5rem;
            font-weight: 300;
            text-transform: uppercase;
            line-height: 1.5rem;
            color: #fff;
            overflow-wrap: break-word;
          }

          .post-buttons {
            position: absolute;
            top: 1rem;
            right: 1rem;
            display: flex;
            justify-content: center;
            column-gap: 2rem;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s;

            button {
              background-color: transparent;
              border: none;
              color: #ddd;
              font-size: 2.5rem;
              cursor: pointer;
            }
          }

          &:hover .post-buttons {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    .weather-calendar {
      flex: 1;
      display: flex;
      flex-direction: column;
      row-gap: $gap;
    }
  }

  &-footer {
    width: 100%;
    min-height: 5rem;
    background-color: $primary-bg;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;

    p {
      font-size: 1.5rem;
      font-weight: 300;
      color: $text-color;
    }
  }
}

@media (max-width: 900px) {
  .news {
    height: 100%;
    overflow-y: scroll;

    &-content {
      flex-direction: column;
      row-gap: 2rem;
      width: 100%;
      height: auto;

      .navbar {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 18rem;

        .user {
          width: calc(50% - #{$gap});
        }
      }
    }
    }    
}